header {
    <img src="dowload.png">
    background-color: blueviolet;
    color: white
}







































.escola-imagem{
    width: 25%
}
.escoal{
    backgroud-imagem:linear-gradient(#423e61,#16cff8);
color:white;
display: flex;
justify-content: center;
aling-items: center;
padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;    
}
body{
    font-family: 'ṕoppins', sans-serif:
}
.escola-imagem{
    width: 120px;
    margin: auto;
}
.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.estudante-titulo{
    text-align: center;
    padding: 24px 0;
}
.rodape{
    background-color: #162d51;
    text-align: center;
}
.rodape-imagem{
    height: 60%;
    padding: 12px 0;
}
.aluno-todos{
text-align: center;
font-size: 30px;
max-heidth: 90%;
max-height: 90%;
margin: auto;
}